/*
* sad-element.css
* Sad Element
* Chris Allinson
* v1.1.0
*/


.sad-element-1 {
  transform: translate(0px, -10px);
  transition: transform 0.1s linear;
}
.sad-element-2 {
  transform: translate(0px, 5px);
  transition: transform 0.1s linear;
}
.sad-element-3 {
  transform: translate(0px, -5px);
  transition: transform 0.1s linear;
}
.sad-element-4 {
  transform: translate(0px, 0px);
  transition: transform 0.1s linear;
}
